.project
.settings
.classpath
target
*/driver
*/selenium_standalone_zips

*/.project
*/.settings
*/.classpath
*/target

*pom.xml.versionsBackup
*~
hs_err_pid*
error-screenshots

# Idea
.idea
*.iml

.DS_Store

# Polymer
bower_components
node
node_modules
etc
