.v-loading-indicator {
	height: 20px;
}

.v-app > .v-scrollable:focus{
    outline: 0;
}

div#wrapper {
	height:100%;
	margin: 0px;
	padding: 0px;
}

div.navbar {
	//background-color:#999;
	width:200px;
	height:100%;
	float:left;
	margin: 0;
	padding: 0;
}
div.content {
	background-color:#efe;
	width:100%-200px;
	height:100%;
	clear: right;

}

.mapp {
	width: 800px;
	height:600px;
	float: left;
    margin: 0px 0px 0px 10px;
}

:root {
    --default-primary-color: #00b4f0;
    --progress-bubble-stroke-color: var(--default-primary-color);
    --progress-bubble-bg-stroke-color: rgba(0, 0, 0, 0.1);
    --progress-bubble-background: transparent;
    --progress-bubble-reflection-display: none;
}
body {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}
paper-toolbar {
    background: var(--default-primary-color);
    color: #fff;
}

paper-menu {
    background: transparent;
}
paper-menu a {
    opacity: 0.8;
    height: 30px;
    line-height: 25px;
    padding: 10px;
    color: #000;
    text-decoration: none;
    @apply(--layout-horizontal)
    @apply(--layout-center)
}
paper-menu iron-icon {
    margin-right: 10px;
}
paper-menu a span,
paper-menu a iron-icon {
    pointer-events: none;
}
.selectable-content.paper-menu > .iron-selected {
    font-weight: normal;
    opacity: 1;
    background: rgba(255, 255, 255, 0.12);
}