.button-sample .horizontal-section:not([style-scope]):not(.style-scope) {
  min-width: 130px;
}

.button-sample paper-button:not([style-scope]):not(.style-scope) {
  display: block; margin-bottom: 24px;
}

.button-sample paper-button.colorful:not([style-scope]):not(.style-scope) {
  color: #4285f4;
}

.button-sample paper-button[raised].colorful:not([style-scope]):not(.style-scope) {
  background: #4285f4; color: #fff;
}

.button-sample paper-button[toggles]:not([style-scope]):not(.style-scope) {
  transition: background-color 0.3s;
}

.button-sample paper-button[toggles][active]:not([style-scope]):not(.style-scope) {
  background-color: rgba(0, 0, 0, 0.25);
}

.button-sample paper-button[toggles][active].colorful:not([style-scope]):not(.style-scope) {
  background-color: rgba(66, 133, 244, 0.25);
}

.button-sample paper-button[toggles][active][raised].colorful:not([style-scope]):not(.style-scope) {
  background-color: rgba(66, 133, 244, 0.75);
}

.button-sample paper-button.blue:not([style-scope]):not(.style-scope) {
  color:#03a9f4;
}

.button-sample paper-button.blue:not([style-scope]):not(.style-scope):hover {
  background:#e1f5fe;
}

.button-sample paper-button.red:not([style-scope]):not(.style-scope) {
  color:#f44336;
}

.button-sample paper-button.red:not([style-scope]):not(.style-scope):hover {
  background:#ffebee;
}

.button-sample paper-button.green:not([style-scope]):not(.style-scope) {
  color:#4caf50;
}

.button-sample paper-button.green:not([style-scope]):not(.style-scope):hover {
  background:#e8f5e9;
}

.button-sample paper-button.orange:not([style-scope]):not(.style-scope) {
  color:#ff9800;
}

.button-sample paper-button.orange:not([style-scope]):not(.style-scope):hover {
  background:#fff3e0;
}

.button-sample paper-button.hover:not([style-scope]):not(.style-scope):hover {
  background: #eee;
}

.button-sample:not([style-scope]):not(.style-scope) paper-button.ripple:not([style-scope]):not(.style-scope)  paper-ripple {
  color:#ff4081;
}

.button-sample paper-button.ripple paper-ripple:not([style-scope]):not(.style-scope) {
  color:#ff4081;
}

