@import 'mainpage.css';
@import 'button.css';
@import 'checkbox.css';

body { overflow: hidden; }

body:not([style-scope]):not(.style-scope) {
    font-family: 'Roboto', 'Noto', sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 24px;
    background-color: #fafafa;
}