<link rel="import" href="../bower_components/polymer/polymer-element.html">

<dom-module id="contacts-form">
    <template>
        <div class="contactform">
            <div class="buttons">
                <button id="save" class="save" on-click="save">Save</button>
                <button id="cancel" on-click="cancel">Cancel</button>
            </div>
            <div class="row">
                <span>First name</span> <input id="firstName" value="{{firstName::input}}"/>
            </div>
            <div class="row">
                <span>Last name</span> <input id="lastName" value="{{lastName::input}}"/>
            </div>
            <div class="row">
                <span>Phone number</span> <input id="phoneNumber" value="{{phoneNumber::input}}"/>
            </div>
            <div class="row">
                <span>Email</span> <input id="email" value="{{email::input}}"/>
            </div>
        </div>
    </template>

    <script>
        class ContactForm extends Polymer.Element {
            static get is() {
                return 'contacts-form';
            }

        }
        customElements.define(ContactForm.is, ContactForm);
    </script>
</dom-module>
