<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="contacts-table">
    <template>
        <table class="contactstable">
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
            </tr>
            <tbody>
            <template is="dom-repeat" items="[[contacts]]">
                <tr on-click="_itemClicked" id="[[item.id]]" class='contact-row'>
                    <td class='column'>[[item.firstName]]</td>
                    <td class='column'>[[item.lastName]]</td>
                    <td class='column'>[[item.email]]</td>
                </tr>
            </template>
            </tbody>
        </table>
    </template>
    <script>
    class ContactsTable extends Polymer.Element {
        static get is() { return 'contacts-table'; }

        _itemClicked(event) {
            const tr = event.currentTarget;
            const previouslySelected = document.getElementsByClassName('selected-row');
            let unselect = false;
            if (previouslySelected != undefined && previouslySelected.length == 1) {
                unselect = (previouslySelected[0].id == tr.id);
                previouslySelected[0].className = '';
            }

            let selectedId = null;
            if (!unselect) {
                tr.className = 'selected-row';
                selectedId = tr.id;
            }
            this.dispatchEvent(new CustomEvent('row-selection-updated', {detail: selectedId}));
        }
    }

    customElements.define(ContactsTable.is, ContactsTable);
    </script>
</dom-module>
