{
  "name": "hummingbird-polymer-elements",
  "homepage": "",
  "authors": [
    "Pekka Hyvönen <pekka@vaadin.com>"
  ],
  "description": "",
  "main": "",
  "moduleType": [],
  "license": "Apache2",
  "private": true,
  "ignore": [
    "**/.*",
    "node_modules",
    "bower_components",
    "test",
    "tests"
  ],
  "dependencies": {
    <%=  bowerjsondeps %>
  }
}