.main {
    display: flex;
}

.menu {
    flex: 0;
    min-width: 300px;
}

.category:before {
    content: '+';
    margin: 0 4px 0 -15px;
    display: inline-block;
    width: .6em;
}

.category.selected:before {
    content: '-';
}

.category.selected > a,
a.selected {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.menu ul {
    list-style-type: none;
}

.category ul {
	display: none;
}
.category.selected ul {
	display: block;
}


.main > *:nth-child(0n+2) {
    flex: 1;
    margin-left: 1em;
}